.mat-footer {
  background-color: #cbc0a8;
  height: 320px;

}
.container{
  margin-left: 200px;
}
.texto{
  color: #000000;
  font-size: 20px;
}
.texto1{
  color: rgb(0, 0, 0);
  font-size: 20px;
}
.texto5{
  color: #000000;
  font-size: 15px;
}
.columnas{
  column-count:2;
}
.texto4{
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: -15px;
}
