<mat-toolbar class="mat-footer" color="primary">

    <div class="container">
      <div class="row">
        <div class="col-2">
          <h1 class="texto4">Manténgase al día con nuestras últimas novedades y productos</h1>
          <div class="columnas">
            <h3 class="texto">Visita nuestras redes sociales</h3>
            <p class="texto"><mat-icon>facebook</mat-icon><a
                href="https://www.facebook.com/" target="_blank"> Facebook</a></p>
            <p class="texto"><mat-icon>monochrome_photos</mat-icon><a
                href="https://instagram.com/ruizfatima141?igshid=N2JhNDIwYjc=" target="_blank"> Instagram</a></p>
            <p class="texto"><mat-icon>smart_display</mat-icon><a
                href="https://www.youtube.com/" target="_blank"> Youtube</a></p>
                <p class="texto1">Copyright &copy; 2023</p>
            <h3 class="texto">INFORMACIÓN DE CONTACTO</h3>
            <p><mat-icon>location_on</mat-icon><span class="texto5">Dolores Hidalgo, Carretera San Luis de la Paz,
                El Bobo Km. 4.9 </span></p>
            <p><mat-icon>call</mat-icon><span class="texto5">+52 761 321 762</span></p>
            <p><mat-icon>mail_outline</mat-icon><span class="texto5">informes@conamorycafe.mx</span></p>
            <p><mat-icon>schedule</mat-icon><span class="texto5">Lun - Vie, 8:00-22:00 horas</span></p>
          </div>

        </div>
      </div>
    </div>

</mat-toolbar>
