<head>
  <title>Cafetería</title>
</head>
<body>
  <header>
    <h1>Bienvenido a nuestra cafetería</h1>
  </header>

  <div class="container">
    <h2>Conoce nuestros productos</h2>

    <div class="image-container">
      <img class="imagen" src="assets/images/donitas.jfif" alt="Café 1">
      <img src="assets/images/cafe.jfif" alt="Café 2">
      <img src="assets/images/frape.jfif" alt="Café 3">
    </div>
    <div>
      <ul class="frase">-------------------------------------Con un toque de amor-------------------------------------</ul>
      <a class="frase">Paso firme espalada recta, mirada al frente, Que no se note que no tenemos ni idea de lo que estamos haciendo</a>
    </div>
  </div>
</body>
